html, body {
    margin: 0 !important;
    padding: 0 !important;
    overflow: hidden;
    height: 100%;
    width: 100%;
    max-width: 100%;
    position: fixed;
}

#myCanvas {
    margin: auto;
    display: block;
    overflow: hidden;
}